.tile {
  background-color: #fff;
  -webkit-box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 15px;
  padding: 10px;
}